.main {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.mainTripImg {
  width: 100%;
  height: calc(100vh - 20px);
  position: fixed;
}

.mainTripImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.mainFoodImg {
  width: 100%;
  height: calc(100vh - 70px);
  position: relative;
}

.mainFoodImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.mainFoodImg .mainFoodImgCover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: color-mix(in srgb, var(--text1) 70%, transparent);
}

.mainFoodImg h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--bg);
  margin: 0;
  font-size: 4.8em;
}

.descContainer {
  width: 100%;
  background-color: var(--bg);
  position: relative;
  z-index: 10;
}

.desc {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 1200px;
  margin: auto;
  padding: 40px 20px;
}

.desc > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.desc .descRight {
  margin-top: 100px;
}

.desc .descTitle {
  display: flex;
  gap: 6px;
  align-items: center;
  align-content: center;
}

.desc .descTitle .titleEmoji {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
}

.desc .descTitle .titleEmoji svg {
  transform: scale(1.5);
}

.desc .descTitle .titleText {
  font-size: 1.7em;
  font-weight: bold;
}

.desc .descContent {
  width: 100%;
  background-color: var(--gray8);
  border: 1px solid color-mix(in srgb, var(--text1) 25%, transparent);
  min-height: 400px;
  border-radius: 20px;
}

.mainTripDev {
  width: 100%;
  height: 100vh;
}

.tripTextDev {
  position: fixed;
  top: 46.7vh;
  left: 39.5vw;
  transform: rotate(-4.4deg);
}

.tripTextDev .tripText1 {
  font-size: 4.4em;
  font-weight: 900;
}

.tripTextDev .tripText2 {
  font-size: 2.4em;
  font-weight: bold;
}

.mainReviewDev {
  background-color: var(--bg);
  width: 100%;
  position: relative;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
