.board_frm_wrap {
  width: 800px;
  margin: 30px auto;
}

.input_wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 24px;
}

.input_wrap > label {
  font-size: 15px;
}

.file_btn {
  cursor: pointer;
  font-size: 14px;
  background-color: var(--primary);
  width: fit-content;
  padding: 10px 20px;
  color: var(--gray8);
  border-radius: 8px;
}

.file_item {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  background-color: var(--gray7);
  border-radius: 8px;
  margin-bottom: 8px;
}

.file_name {
  flex-grow: 1;
  font-size: 14px;
}

.file_delete {
  cursor: pointer;
}
/* 제목 input 스타일 */
.input_wrap input {
  font-size: 14px;
  font-family: 'Noto Sans KR';

  height: 40px;
  min-height: 40px;

  padding: 0 16px;

  border: 1px solid var(--gray5);
  border-radius: 8px;

  background-color: var(--gray8);
  color: var(--text1);

  outline: none;
}

.input_wrap input:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--gray5);
}
